.actualites {
  background-color: var(--soft-background);

    /*
  * Section result Cardmatchs actu
  */ 
  &__result {
  padding: 4rem 2rem;
  background-color: var(--club-green);
  &-title {
    color: var(--club-yellow);
    text-align: center;
    margin-bottom: 3rem;
  }
  // Container pour les 3 cards
  &-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }
}
}