# Global
node_modules
dist
build
.DS_Store
*.log

# Environnement
.env
.env.local
.env.production

# Client React
client/.env
client/node_modules
client/dist

# Server Node
server/.env
server/node_modules
server/dist