# Global
node_modules
dist
build
.DS_Store

# Logs
*.log
npm-debug.log*

# Environnement
.env
.env.*
.env.local
.env.production
server/.env
server/.env.*
client/.env
client/.env.*

# Client React
client/.env
client/node_modules
client/dist

# Server Node
server/.env
server/node_modules
server/dist